<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        window.initialData = <%-JSON.stringify(initialData)%>
    </script>
</head>
<body>
    <div id="root"><%- initialMarkUp -%></div>
</body>
<script src='/vendor.js'></script>
<script src='/app.js'></script>
<script src='/runtime.js'></script>
</html>